::selection{                                            /*Sélection avec la souris paramètre*/
    background-color: yellow;
    color:blue;
}
header{
    background-color: black;
    color: white;
}
body{
    background-color: wheat;
}
.accueil{
    background-color: yellow;
}
footer{
    background-color: black;
    color: white;
}
