::selection{                                            /*Sélection avec la souris paramètre*/
    background-color: rgb(192, 145, 25);
    color:blue;
}
.button{
    padding-right: 24px;
}
.test{
    color: brown;
}
.logo{
    height: 50px;
    width: 70px;
}
.background-nav{
    background-color: rgb(36, 35, 35);
}
/* .accueil{
    background-color: goldenrod;
    color: black;
} */
header{
    background-color: rgb(36, 35, 35);
    color: white;
}
.nav{
    text-align: center;
    color: rgb(255, 255, 255);
}
body{
    background-color: whitesmoke
}
.accueil{
    padding-left: 10px;
    background-color: black;
    color: white;
}

.mission{
    background-color: goldenrod;
    color: white;
}
.actualité{
    background-color: whitesmoke;
    color: black;
}
.sponsor{
    background-color: black;
    color: white;
}
.contact{
    background-color: goldenrod;
    color: white;
}
footer{
    background-color:rgb(36, 35, 35);
    color: white;
}
